{% load static %}

<!DOCTYPE html>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

<link rel="stylesheet" href="{% static 'home.css' %} " />

<html>

<head>
    <!-- <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}" /> -->
    <!-- <script src="{% static 'jquery/jquery.min.js' %}"></script> -->
    <!-- <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script> -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">TRAVERS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item mr-5 ml-4 active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a
            >
          </li>

          <li class="nav-item mr-5 ml-4">
            <a class="nav-link" href="">Locations</a>
                </li>

                <li class="nav-item mr-5 ml-4">
                    <a class="nav-link" href="#">Bookings</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item mr-5 ml-4">
                    <a class="nav-link" href="#">Logout</a>
                </li>

                <li class="nav-item mr-5 ml-4">
                    <a class="nav-link" href="#">Profile</a>
                </li>

                {% else %}
                <li class="nav-item mr-5 ml-4">
                    <a class="nav-link" href="#">Login</a>
                </li>
                {% endif %}
                <li class="nav-item mr-5 ml-4">
                    <a class="nav-link" href="#"> Contact </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="toppers bg-info">
        <img src="{% static 'images/logo.png' %}" alt="" srcset="" />
    </div>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <section class="section1">
        <div class="box1">
            <div class="wraps">
                <h1><span> I</span>ts high time you take a break!!!</h1>
                <h3>Let's make you feel amazed by what nature entails</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, repudiandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident minus, temporibus officiis illum molestiae sit cumque repellendus vero ullam maxime.
                </p>
                <div class="btn btn-info rounded text-uppercase mt-3">Subscribe</div>
            </div>
        </div>
        <div class="box2">
            <div class="bgeffect"></div>
        </div>
    </section>
    <section class="section2">
        <div class="breaker">
            <h1>We keep our world enticing for you adventure</h1>
            <h4>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, incidunt!
            </h4>
        </div>
    </section>

    <section class="section3">
        <h1>Get a glimpse of our current Locations all around the globe</h1>
        <!-- <h4>Available Locations</h4> -->

        <div class="section3-container">
            <div class="boxs">
                <img src="{% static 'images/1.jpg' %}" alt="" srcset="" />
                <div class="footer">
                    <h5>Location: Abuja</h5>
                    <div class="star">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="" async defer></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>